<h1> Locadora de Games </h1>

<hr>
<h3> Opções </h3>
<br>
<button class="btn btn-success" ng-click="cadastrarCliente()">Cadastrar Cliente</button>
<button class="btn btn-success" ng-click="cadastrarLocacao()">Cadastrar Locação</button>
<button class="btn btn-success" ng-click="devolver()">Devolução</button>
<button class="btn btn-success" ng-if="gerente" ng-click="gerarRelatorioMensal()">Relatório Mensal</button>
<button class="btn btn-success" ng-click="gerarRelatorioAtrasos()">Relatório Atrasos</button>
<hr>

<button class="btn btn-warning" ng-click="logout()">Logout</button>