<h1> HOMEPAGE </h1>

<button class="btn btn-success" ng-click="cadastrarCliente()">Cadastrar Cliente</button>
<button class="btn btn-success" ng-click="cadastrarLocacao()">Cadastrar Locação</button>
<button class="btn btn-success" ng-click="devolver()">Devolução</button>
<button class="btn btn-success" ng-if="gerente" ng-click="gerarRelatorioMensal()">Relatório Mensal</button>
<button class="btn btn-success" ng-if="gerente" ng-click="gerarRelatorioAtrasos()">Relatório Atrasos</button>
<button class="btn btn-warning" ng-click="logout()">Logout</button>