<h1> Amigos </h1>

<table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th> 
                <th>Email</th> 
                <th>Data de Nascimento</th>
                <th>Sexo</th> 
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="amigo in amigos">
            <td>{{ amigo.nome }}</td> 
            <td>{{ amigo.email }}</td> 
            <td>{{ amigo.nascimento | date: "dd/MM/yyyy" }}</td> 
            <td>{{ amigo.sexo | formataSexo }}</td> 
            <td><button class="btn btn-success" ng-click="verPerfil(amigo.id)">Ver Perfil</button></td>
        </tr>
        </tbody>
</table>