<!DOCTYPE html>
<html> 
<head>
    <title> Exercícios Aula 2 </title>
    <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <script src="exemplo3.js"></script>
    <script src="pt-br.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head> 

<body ng-app="Aula02">  

<div ng-controller="Exemplo"> 
    
    <h1>Exercícios 1 e 2 </h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aula</th>
                <th>Instrutor</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dadosAulas in aulaInstrutor | orderBy: 'aula.numero' ">
            <td>{{ dadosAulas.aula.nome }}</td>
            <td>{{ dadosAulas.instrutor | mascada }}</td>
        </tr>
        </tbody>
    </table>

    <h1> Exercício 3 </h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aula</th>
                <th>Instrutor</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dadosAulas in aulaInstrutor | orderBy: 'aula.numero' ">
            <td>{{ dadosAulas.aula | formataNomeAula }}</td>
            <td>{{ dadosAulas.instrutor | mascada }}</td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>