<div ng-controller="MensagensController">
<h1> CHAT CRESCER</h1>
    <table class="table">
        <tr ng-repeat="mensagem in mensagens">
            <td>
            <div class="imagem">
            <img ng-src="{{mensagem.Usuario.UrlFoto}}">
            </div>
                {{mensagem.Usuario.Nome}}
                {{mensagem.Texto}}
                {{mensagem.Data | date:'dd/MM/yyyy HH:mm'}}
            </td>
        </tr>
    </table>

    <form name="mensagem" ng-submit="enviarMensagem(mensagem)">
        <div class="form-group">
            <textarea class="form-control" minlength="1" ng-model="mensagem.Texto"></textarea>
            <button type="submit" class="btn btn-default" ng-disabled="mensagem.$invalid">Enviar Mensagem</button>
        </div>
    </form>
</div>