   <h3>Livros</h3>  
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Isbn</th> 
                <th>Título</th> 
                <th>Gênero</th>
                <th>Autor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="livro in livros">
            <td>{{ livro.Isbn }}</td> 
            <td>{{ livro.Titulo }}</td> 
            <td>{{ livro.Genero }}</td> 
            <td>{{ livro.NomeAutor }}</td> 
            <td><button class="btn btn-success" ng-click="revisar(livro)">Revisar</button></td>
            <td><button class="btn btn-success" ng-click="publicar(livro)">Publicar</button></td>
            <td><button class="btn btn-success" ng-click="excluirLivro(livro)">Excluir</button></td>
        </tr>
        </tbody>
    </table>

     <h3>Autores</h3>  
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th> 
                <th>Nome</th> 
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="autor in autores">
            <td>{{ autor.Id }}</td> 
            <td>{{ autor.Nome }}</td> 
            <td><button class="btn btn-success" ng-click="excluirAutor(autor)">Excluir</button></td>
            <td><button class="btn btn-success" ng-click="editarAutor(autor)">Editar</button></td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-success" ng-click="cadastrarLivro()">Cadastrar Livro</button>
    <button class="btn btn-success" ng-click="cadastrarAutor()">Cadastrar Autor</button>