<h2>Cadastrar Livro teste</h2>
<hr>
<form novalidate name="formLivro" class="form-group" ng-submit="cadastrar(novoLivro)">
        <div class="col-md-10">
        <label for="titulo"> Título </label>
        <input type="text" name="titulo" class="form-control" ng-model="novoLivro.titulo" ng-minlength="3" ng-maxlength="50" required/>
        </div>

        <div class="col-md-10">
        <label for="descricao"> Descrição </label>
        <input type="text" name="descricao" class="form-control" ng-model="novoLivro.descricao" ng-maxlength="30"/>
        </div>

        <div class="col-md-10">
        <label for="genero"> Gênero </label>
        <input type="text" name="genero" class="form-control" ng-model="novoLivro.genero" required/>
        </div>

        <div class="col-md-10">
        <label for="capa"> Capa </label>
        <input type="text" name="capa" class="form-control" ng-model="novoLivro.capa"/>
        </div>

        <div class="col-md-10">
        <label for="autores"> Selecione o autor:   </label>

        <div class="input-group">
            <select multiple class="form-control" ng-model="novoLivro.idautor">
                <option  ng-repeat="opcaoAutor in autores" value="{{opcaoAutor.Id}}" > {{opcaoAutor.Nome}} </option>
            </select>
        </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-info btn-sm"> Cadastrar Livro </button>
            </div>
        </div>
</form>