<h2>Editar Autor</h2>
<hr>
<form novalidate name="formAutor" class="form-group" ng-submit="editar(autorEdicao)">
 <div class="row">
        <div class="col-md-10">
        <label for="nome"> Nome </label>
        <input type="text" name="nome" class="form-control" ng-model="autorEdicao.Nome" 
         value= "{{ autor.Nome }}" ng-minlength="3" ng-maxlength="50" required/>
        </div>
 </div>
  <div class="row">
            <div class="col-md-3">
                <button class="btn btn-info btn-sm"> Salvar </button>
            </div>
        </div>
</form>
	<button class="btn btn-success" ng-click="Voltar()">Voltar</button>
      