<form class="form-inline" name="login" ng-submit="efetuarLogin(usuario)">
                <div class="form-group formularioLogin">
                    <label for="nome">Login:</label>
                    <input name="nome" type="text" class="form-control" ng-model="usuario.Login" />
                    <label for="Senha">Senha:</label>
                    <input name="Senha" type="password" class="form-control" ng-model="usuario.Senha" />
                    <button type="submit" class="btn btn-default">Entrar</button>
                </div>
</form>

<div class="row">

 <div class="lancamentos">
     <h3> Lançamentos </h3>
        <div class="col-md-4 divisaolivro" ng-repeat="lancamento in lancamentos">
            <div class="imagem">
                <img ng-src="{{lancamento.Capa}}">
            </div>
            <div><strong>Título:</strong> {{ lancamento.Titulo }}</div>
            <div><strong>Gênero:</strong> {{ lancamento.Genero }}</div>
            <div><strong>Autor:</strong> {{ lancamento.NomeAutor}}</div>
            <button class="btn btn-success" ng-click="VerDetalhes(lancamento)">Detalhes</button>
        </div>
 </div>
</div>

<div class="row">
    <h3> Livros </h3>
    <div class="livros">
        <div class="col-md-4 divisaolivro" ng-repeat="livro in livros">
            <div class="imagem">
                <img ng-src="{{livro.Capa}}">
            </div>
             <div><strong>Título:</strong> {{ livro.Titulo }}</div>
             <div><strong>Gênero:</strong> {{ livro.Genero }}</div>
             <div><strong>Autor:</strong> {{ livro.NomeAutor}}</div>
             <button class="btn btn-success" ng-click="VerDetalhes(livro)">Detalhes</button>
        </div>
    </div>
</div>

<ul class="pagination">
    <li><a href="" ng-repeat="pagina in paginas" ng-click="CarregarPagina(pagina.indice)">{{pagina.indice}}</a></li>
</ul>