<h1> Relatório de Locações Atrasadas </h1>
<hr>
<br>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th> 
                <th>Cliente</th>
                <th>Produto</th>
                <th>Valor Previsto</th>
                <th>Data Locação</th> 
                <th>Data Previsão Entrega</th>
                <th>Dias Atrasados</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="locacao in locacoesAtrasadas">
            <td>{{ locacao.Id }}</td> 
            <td>{{ locacao.Cliente.Nome }}</td> 
            <td>{{ locacao.Produto }}</td> 
            <td>{{ locacao.ValorPrevisto | currency}}</td> 
            <td>{{ locacao.DataRetirada | date: "dd/MM/yyyy" }}</td> 
            <td>{{ locacao.DataPrevisaoEntrega | date: "dd/MM/yyyy" }}</td>
            <td>{{ locacao.DiasAtraso }} </td>
        </tr>
        </tbody>
</table>
<hr>
<br>

<div class="row">
            <div class="col-md-4">
                <button class="btn btn-info" ng-click="voltar()"> Voltar </button>
            </div>
</div>