<h1>EDITAR PERFIL</h1>
<hr>
<div class="cadastro">
   <div class="row">
      <div class="col-md-3">
         <form novalidate name="formCadastro" class="form-group">
            
            <label for="nome"> Nome </label>
            <input id="nome" class="form-control input-sm" ng-model="usuario.nome" type="text" placeholder="Informe seu nome" required />
            </br>

            <label for="dataNascimento"> Data de Nascimento </label>
            <input type="date" name="dataNascimento" class="form-control" ng-model="usuario.nascimento" required/>
            </br>
            
            <label for="genero"> Selecione o gênero </label>
            <div class="input-group">
                <select id="genero" class="form-control" ng-model="usuario.sexo">
                    <option value="F" > Feminino </option>
                    <option value="M" > Masculino </option>
                    <option value="N" > Não informado </option>
                </select>
            </div>
            
            </br>
            
            <label for="senha">Nova Senha </label>
            <input id="senha" class="form-control input-sm" ng-model="novasenha" type="password" required/>
            </br>
            
            <div class="wrapper">
               <button type="submit" class="btn btn-primary btn-md" ng-click="alterar(usuario)">Alterar</button>
               <button type="submit" class="btn btn-primary btn-md" ng-click="voltar()">Voltar</button>
               <button type="submit" class="btn btn-primary btn-md" ng-click="logout()">Logout</button>
            </div>
         </form>
      </div>
   </div>
</div>